In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [ ]:
# Alredy ran to install gmaps - conda install -c conda-forge gmaps

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Inverell,AU,2021-10-27 02:52:39,-29.7833,151.1167,86.67,40,0,4.00
1,1,Bluff,NZ,2021-10-27 02:52:40,-46.6000,168.3333,58.37,72,58,7.05
2,2,Barrow,US,2021-10-27 02:52:40,71.2906,-156.7887,8.62,78,90,5.75
3,3,Clyde River,CA,2021-10-27 02:52:40,70.4692,-68.5914,23.56,82,100,4.45
4,4,Sansepolcro,IT,2021-10-27 02:52:41,43.5747,12.1430,53.74,94,80,5.79

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable. (And Make geographical center of earth and zoom so earth only shown once)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the wind speed.
wind_speed = city_data_df["Wind Speed"]
# Assign the figure variable. (And Make geographical center of earth and zoom so earth only shown once)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Inverell,AU,2021-10-27 02:52:39,-29.7833,151.1167,86.67,40,0,4.00
6,6,Sibolga,ID,2021-10-27 02:52:42,1.7427,98.7792,81.61,78,61,3.56
9,9,Bubaque,GW,2021-10-27 02:52:43,11.2833,-15.8333,81.97,74,95,8.46
13,13,Kahului,US,2021-10-27 02:52:44,20.8947,-156.4700,82.42,74,40,17.27
14,14,Atuona,PF,2021-10-27 02:52:45,-9.8000,-139.0333,77.70,68,9,13.00
18,18,Cockburn Town,TC,2021-10-27 02:52:46,21.4612,-71.1419,81.88,76,81,4.70
27,27,Vaini,TO,2021-10-27 02:52:49,-21.2000,-175.2000,78.96,78,20,16.11
37,37,Mahebourg,MU,2021-10-27 02:52:53,-20.4081,57.7000,75.25,61,68,13.96
42,42,Ruwi,OM,2021-10-27 02:52:54,23.5996,58.5507,81.19,66,0,7.20
44,44,Abilene,US,2021-10-27 02:52:55,32.4487,-99.7331,81.09,69,1,4.00

In [33]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0        Inverell      AU     86.67 -29.7833  151.1167
6         Sibolga      ID     81.61   1.7427   98.7792
9         Bubaque      GW     81.97  11.2833  -15.8333
13        Kahului      US     82.42  20.8947 -156.4700
14         Atuona      PF     77.70  -9.8000 -139.0333
18  Cockburn Town      TC     81.88  21.4612  -71.1419
27          Vaini      TO     78.96 -21.2000 -175.2000
37      Mahebourg      MU     75.25 -20.4081   57.7000
42           Ruwi      OM     81.19  23.5996   58.5507
44        Abilene      US     81.09  32.4487  -99.7331

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Inverell,AU,86.67,-29.7833,151.1167,Sapphire City Motor Inn
6,Sibolga,ID,81.61,1.7427,98.7792,Hotel Syariah CN Darussalam
9,Bubaque,GW,81.97,11.2833,-15.8333,"Casa Dora, Bubaque"
13,Kahului,US,82.42,20.8947,-156.4700,Maui Seaside Hotel
14,Atuona,PF,77.70,-9.8000,-139.0333,Villa Enata
18,Cockburn Town,TC,81.88,21.4612,-71.1419,Osprey Beach Hotel
27,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
37,Mahebourg,MU,75.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
42,Ruwi,OM,81.19,23.5996,58.5507,Al Falaj Hotel
44,Abilene,US,81.09,32.4487,-99.7331,La Quinta Inn by Wyndham Abilene

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [1]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

NameError: name 'hotel_df' is not defined